:root {
  --Primary-Sandy-Beige: #fef6e4; /*Primary button color, Secondary text color*/
  --Primary-Dark-Blue: #001858; /*Headers, Page titles*/
  --Primary-Medium-Blue: #172c66; /*Primary Text color*/
  --Accent-Pink: #f582ae; /**/
  --Accent-Light-Orange: #f3d2c1; /**/
  --Accent-Light-Blue: #8bd3dd; /**/
  --Accent-Medium-Green: #446E38; /**/

  --Header-Desktop-Font-Size: 30px;
  --Header-Mobile-Font-Size: 20px;
  --Paragraph-Text-Font-Size: 16px;
}

.App {
  height: 100vh;
  
}

header {
  flex: .5;
}

.header__title--style {
  color: var(--Primary-Dark-Blue);
  font-weight: bold;
  font-size: var(--Header-Mobile-Font-Size);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
}
