.adminPage--container {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Manrope';
}

.adminPage__pageTitle--style {
    text-align: center;
    color: var(--Primary-Medium-Blue);
    font-size: var(--Header-Desktop-Font-Size);
    margin: 10px 0;
    font-weight: bold;
    font-family: 'Spartan';
}

.adminPage__content--container {
    margin: 0 5vw;
    padding-bottom: 10px;
}

.adminPage__card--container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    row-gap: 15px;
}

@media only screen and (min-width:650px){
    .adminPage__card--container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 10px;
    }
}

@media only screen and (min-width:900px){
    .adminPage__card--container {
        grid-template-columns: repeat(3, 1fr);
    }
}


