.landingPage--container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    flex: .5;
}

.header__title--style {
    color: var(--Primary-Dark-Blue);
    font-weight: bold;
    font-size: var(--Header-Mobile-Font-Size);
    display: flex;
    justify-content: center;
    align-content: center;
}

main {
    flex: 7;
    display: flex;
    flex-direction: column;
}

.landingPage__content--container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.landingPage__contentImage--container { 
    flex: 2;
    display: flex;
    flex-direction: column;
}

.landingPage__img--style {
    
}

.contentImage__text--container {

    margin:10px 0 0 -10px;  
    padding: 20px;
    background: white;
    -moz-border-radius: 100px / 70px;
    -webkit-border-radius: 100px / 70px;
    border-radius: 100px / 70px;
    border: #707070 .5px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--Paragraph-Text-Font-Size);
}

.contentImage__title--style {
    text-decoration: underline;
    margin-top: 0;
}

.contentImage__content--style {
    margin-top: 0;
}

.contentImage__container--placement {
    text-align: center;
}

.landingPage__contentText--container {
    background-color: yellow; /*testing*/
    border: 1px solid red; /*testing*/
    flex: 1;
}

.landingPage__contentCTA--container {
    background-color: purple; /*testing*/
    border: 1px solid red; /*testing*/
    flex: 2;
}

.landingPage__contentText--container > p {
    color: orange; /*testing*/
}

.landingPage__contentText--container > p >span {
    color:black; /*testing*/
}

.showDesktopView {
    display:none;
}


@media only screen and (min-width:500px){
    .landingPage__content--container {
        flex-direction: row;
    }

    .landingPage__contentImage--container, .landingPage__contentText--container {
        flex: 1;
    }
    .showDesktopView {
        display:block;
    }

    .contentImage__text--container {
        margin:0px 15px 0 15px;
    }
}

