.landingPage--container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    flex: .5;
}

.header__title--style {
    color: var(--Primary-Dark-Blue);
    font-weight: bold;
    font-size: var(--Header-Mobile-Font-Size);
    display: flex;
    justify-content: center;
    align-content: center;
}

main {
    flex: 7;
    display: flex;
    flex-direction: column;
}

.landingPage__content--container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.landingPage__contentImage--container { 
    flex: 2;
    display: flex;
    flex-direction: column;
}

.landingPage__img--style {
    
}

.contentImage__text--container {

    margin:10px 0 0 -10px;  
    padding: 20px;
    background: white;
    -moz-border-radius: 100px / 90px;
    -webkit-border-radius: 100px / 90px;
    border-radius: 100px / 90px;
    border: #707070 .5px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--Paragraph-Text-Font-Size);
}

.contentImage__title--style {
    text-decoration: underline;
    margin-top: 0;
    color: var(--Primary-Dark-Blue);
    font-weight: bold;
}

.contentImage__content--style {
    margin-top: 0;
    font-size: var(--Paragraph-Text-Font-Size);
    color: var(--Primary-Medium-Blue)l
}

.contentImage__container--placement {
    text-align: center;
}

.landingPage__contentText--container {
    flex: 1;
}

.landingPage__contentCTA--container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-content: center;
}

.landingPage__contentText--container > div > p {
    color: #707070;
    font-size: var(--Header-Mobile-Font-Size);
    margin: 1px 0;
}

.landingPage__contentText--container >div > p >span {
    color:var(--Primary-Dark-Blue);
    font-weight: bold;
}

.page__title--style {
    color: var(--Primary-Dark-Blue);
    font-size: var(--Header-Mobile-Font-Size);
}

.showDesktopView {
    display:none;
}

.contentCTA__button--style {
    background-color: var(--Accent-Light-Orange);
    color: var(--Primary-Medium-Blue);
    padding: 10px;
    width: 80%;
    border-radius: 20px;
    font-size: var(--Header-Mobile-Font-Size);
    max-height: 50px;
    margin-top: 20px;
}


@media only screen and (min-width:500px){
    .landingPage__content--container {
        flex-direction: row;
    }

    .landingPage__contentImage--container, .landingPage__contentText--container {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .showDesktopView {
        display:block;
    }

    .contentImage__text--container {
        margin:0px 15px 0 15px;
        -moz-border-radius: 100px / 70px;
        -webkit-border-radius: 100px / 70px;
        border-radius: 100px / 70px;
    }

    .contentCTA__button--style {
        width: 30%;
        margin-top: 0;
    }
}

